# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
*.tsbuildinfo

# Turbo
.turbo/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Environment
.env
.env.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*storybook.log
storybook-static
